a{
    text-decoration: none;
    margin: 5px;
    color: black;
}
button{
    color: white !important;
}
.navbar{
    height: 45px;
}
Nav .side-nav{
    height: 30px;
}
Nav .side-nav img{
    height: 100%;
    width: 100%;
}